/* default react stylings */
body {
  background: linear-gradient(to top, #e366f642, #fff);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home page */

.land {
  margin: 0.4em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  text-align: center;
  gap: 2rem;
  padding: 1rem 4rem;
  margin-bottom: 60px;
}

.land span {
  color: #e366f6;
  text-shadow: .06em .05em 0 hsl(292, 44%, 38%);
}

.land h1 {
  padding-right: 2rem;
  line-height: 64px;
}

.land img {
  height: 50%;
  width: 50%;
}

@media (max-width: 800px) {
  .land {
    flex-direction: column;
    font-size: 0.8em;
    gap: 1rem;
    padding: 10px 24px;
    margin-bottom: 40px;
  }

  .land img {
    height: 80%;
    width: 80%;
  }

  .land h1 {
    padding: 0;
    line-height: initial;
  }
}

.service {
  padding: 2rem 0;
  margin: 0;
}

.service h2 {
  color: #e366f6;
}
.service img {
  margin-top: 2em;
  height: 80%;
  width: 90%;
}

.service-text {
  padding: 0 20px;
}


@media (min-device-width: 1024px) {
  .service {
    display: flex;
    text-align: left;
    gap: 6rem;
    padding: 4rem 4.2rem;
  }

  .alter {
    flex-direction: row-reverse;
    text-align: right !important;
    gap: 6rem;
  }
  
  .service h2 {
    font-size: 70px;
    margin-bottom: 0;
  }
  .service h3 {
    font-size: 30px;
  }
  .service img {
    height: 400px;
    width: 560px;
    padding: 0;
  }
  .service-text {
    font-size: 20px !important;
    padding: 0;
  }
}

.certified {
  margin: 4rem 1.5rem;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.certified-icons {
    background-color: #e366f6c9;
  color: white;
  font-size: 2em;
  padding: 1em;
  margin: 0.8em;
}

@media (max-width: 800px) {
  .certified {
    display: block;
    margin: 4rem 1rem;
  }
}

/* Recipes */
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px #e366f651;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Contact */
.contact-title {
  height: 20vh;
  display: block;
  text-align: center;
}

.contact-title h3 {
  color: #e366f6c9;
}

.contact-title h1 {
  color: #9909afc9;
}

.contact-form {
  width: 80%;
  margin: 2% 10%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.253);
  box-shadow: 0px 5px 20px #e366f6c9;
}


.social {
  display: block;
  text-align: left;
  flex: 50%;
  padding: 20px 0 30px 20px;
}
.social-list {
  color: #9909afc9;
  padding-bottom: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-device-width: 1024px) {
  .contact-title {
    height: 40vh;
  }

  .contact-title h3 {
    font-size: 1.8em;
  }
  
  .contact-title h1 {
    font-size: 2.8em;
  }

  .contact-pose {
    display: flex;
    margin-bottom: 60px;
  }

  .social {
    padding: auto;
  }
}


/* Error */
.error {
  height: 100vh;
  width: 100vw;
  color: #e366f6c9;
  font-size: 2em;
  background-image: url(./assets//page_not_found.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .error {
    height: 100vh;
    width: 100vw;
    font-size: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* About */
.about-title h1 {
  color: #e366f6c9;
  margin-bottom: 4rem;
  padding: 0 2rem;
}

.about {
  margin-bottom: 4rem;
}

.about hr {
  margin: 0 6rem;
  background-color: #e366f6;
  height: 4px;
}

.about h2 {
  color: #e366f6;
}
.about img {
  margin-top: 1.2em;
  height: 80%;
  width: 90%;
}

.about-text {
  padding: 0 10px 0 10px;
}


@media (min-device-width: 1024px) {

  .about-title h1 {
    font-size: 50px;
    margin-bottom: 8rem;
  }

  .about hr {
    margin: 0 20rem 0 0;
  }

  .about {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 80px 120px 80px;
    gap: 4rem;
  }

  .alter {
    flex-direction: row-reverse;
    text-align: right !important;
    gap: 4rem;
  }

  .alter hr {
    margin: 0 0 0 20rem;
  }
  
  .about h2 {
    font-size: 42px;
    margin-bottom: 0;
  }
  .about h3 {
    font-size: 28px;
  }
  .about img {
    height: 400px;
    width: 560px;
  }
  .about-text {
    font-size: 20px !important;
  }
}

.comments {
  font-size: 1.8em;
  color: #9c44aac9;
}

.students {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  padding: 1rem 2rem 6rem 2rem;
}

.students-card {
  margin-left: 2em;
}

@media (max-width: 800px) {
  .students {
    display: block;
    padding: 10%;
  }
  .students-card {
    margin-bottom: 2em;
    margin-left: 0;
  }
}

